body {
    font-family: "Bodoni Moda", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.bodoni-moda {
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-image: url('img/coinderue.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(50, 50, 50, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Prociono", serif;
}

.prociono-regular {
    font-family: "Prociono", serif;
    font-weight: 400;
    font-style: normal;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
    background-color: white;
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    margin-left: 10px;
}

.content {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
}

.sidebar figure {
    position: relative;
    display: inline-block;
}

.sidebar img {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
}

.sidebar figure figcaption {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    font-size: 0.9em;
}

.sidebar figure:hover figcaption {
    display: block;
}

@media (max-width: 600px) {
    .sidebar img {
        max-width: 150px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 25px;
    justify-content: center;
    background-color: #333;
    margin: 0;
    height: 70px;
    align-items: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #444;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #007BFF;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #007BFF;
}

nav ul li:hover .dropdown-content {
    display: block;
}

html {
    scroll-behavior: smooth;
}